@font-face {
  font-family: Existence;
  src: url(Existence-Light.otf);
}

@font-face {
  font-family: Exo;
  src: url(Exo-Regular.otf);
}

$colorPurpleDark: #1C1B2C;
$colorPurpleDarkTransparent: rgba(28, 27, 44, 0.8);
$colorPink: #BF87D7;
$colorBlue: #5EC0C6;
$colorGray: #A1A1A8;
$colorLilac: #C0BFFE;
